.bg-purple {background-color: #6100C1;}
.bg-black {background-color: #6100C110;}
.bg-green{background-color: #B2D93A;}
.bg-iceblue{background-color:#6ED2EF30;}
.bg-dark-purple {background-color: #6100C150;}
.bg-light-orange {background-color: #FF7D5630;}
.bg-orange { background-color: #FF7D56;}
.bg-white {background-color: #FDFDFF;}
.bg-yellow {background-color: #FDCF3F;}
.bg-light-blue{background-color: #6ED2EF;}
.bg-light-blue-transparent{ background-color: #6ED2EF50;}
.bg-blue { background-color: #4F94FB;}
.bg-navy {background-color: #222F5E;}
.text-white {color: #ffffff;}
.text-navy { color: #222F5E;}
.text-light-blue{ color: #6ED2EF;}
.text-grey {color: #878799;}
.text-orange {color: #FF7D56;}
.text-purple {color: #6100C1;}
.text-green {color: #B2D93A;}
.text-light-grey { color: #7A87A8;}
h1 {font-size: 87px;}
h2 {font-size: 48px;}
h3 {font-size: 32px;}
h4 {font-size: 24px;}
span {font-size: 18px;}
p {font-size: 16px;}
.font-extra-large{ font-size: 48px;}
.font-large{font-size: 24px;}
.font-link-medium{ font-size: 22px;}
.font-medium{font-size: 20px;}
.font-link-normal {font-size: 18px;}
.font-normal{font-size: 16px;}
.font-small{font-size: 14px;}   
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.container { 
    width: 100%;
    padding: 0 16px;
    max-width: none;
    box-sizing: border-box;
}
.header {
    padding: 24px 0;
}
/* navbar */
.logo img {
    width: 172px;
    height: 52px;
}
.navbar { 
    display:flex; 
    gap:16px;
    align-items: center;
}
.navbar .navbar-menu {
    margin-left: auto;
}
.navbar .navbar-menu .navbar-list {
    display:flex;
    gap:32px;
    list-style:none;
    border: 1px solid black;
    padding: 8px 8px;
}
.navbar .navbar-menu .navbar-list li a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 8px 8px;
    border-radius: 8px;
}
.navbar .navbar-list a:hover,
.navbar .navbar-list a:focus {
    background: #ffffff20;
    color: #ffffff;
}
.navbar .navbar-menu .navbar-list .dropdown-toggle{
    margin-left:8px;
    vertical-align: middle;
}
.navbar .navbar-contact button {
    background: #ffffff20;
    color: #ffffff;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
}
.navbar .navbar-contact button:hover,
.navbar .navbar-contact button:focus {
    background: #ffffff;
    color: #6100C1;
}
/* hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 48px 0;
}
.hero .hero-content {   
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.hero .hero-content .btn-primary {
    margin-top: 24px;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
}
.hero .hero-content .btn-primary:hover,
.hero .hero-content .btn-primary:focus {
    background: #ffffff;
    color: #6100C1;
}
.hero .hero-image img {
    width: 100%;
    padding: 0 32px;
}
.offer .offer-list {
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: space-around;
    margin: 0 auto;
}
.offer .offer-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.offer .offer-list img {
    width: 50px;
    height: 50px;
}
.offer .offer-list li:hover,
.offer .offer-list li:focus {
    border-bottom: 2px solid #6100C1;
}
.offer .offer-main .offer-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits {
    padding: 70px 0;
}
.benefits .benefits-heading .benefits-title {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    width: fit-content;
}
.benefits .benefits-description {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.benefits .benefits-description h2 {
    width: 40%;
    text-align: left;
}
.benefits .benefits-description h2 .text-heading {
    padding: 0 16px;
}
.benefits .benefits-description p {
    width: 60%;
}
.benefits .benefits-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.benefits .benefits-content .benefit-card {
    border-radius: 10px;
    box-shadow: 0px 4px 16px #00000010;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 32%;
    cursor: pointer;
}
.benefits .benefits-content .benefit-card .benefit-info {
    padding: 16px 20px;
}  
.benefits .benefits-content .benefit-card img {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    padding: 16px;
}
.benefits .benefits-content .benefit-card:hover,
.benefits .benefits-content .benefit-card:focus {
    box-shadow: 0px 8px 24px #00000020;
}
.about {
    padding: 70px 0;
}
.about .about-main .about-image {
    width: 50%;
    height: auto;
}
.about .about-main {
    display: flex;
    gap: 40px;
    align-items: center;
}
.about .about-main .about-content {
    width: 50%;
}
.about .about-main .about-content .about-title {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
}
.about .about-main .about-content .about-description h2 {
    display: flex;
    flex-direction: column;
}
.about .about-main .about-content .about-description .about-stories {
    font-size: 48px;
}
.about-main .about-heading .btn-primary {
    margin-top: 24px;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    color: #ffffff;
}
.about-main .about-heading .btn-primary:hover,
.about-main .about-heading .btn-primary:focus {
    background: #FF7D5630;
    color: black;
}
.counter {
    width: 70%;
    box-sizing: border-box;
    margin: 0 auto;
}
.counter .counter-main ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.counter .counter-main ul {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border-radius: 10px;
}
.knowledge {
    padding: 70px 0;
}
.knowledge .knowledge-main {
    display: flex;
    gap: 40px;
    align-items: center;
}
.knowledge .knowledge-main .knowledge-content .knowledge-title {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
}
.knowledge .knowledge-main .knowledge-heading {
    width: 50%;
}
.knowledge .knowledge-main .knowledge-image {
    width: 50%;
    height: auto;
}
.knowledge .knowledge-main .knowledge-heading .btn-primary {
    margin-top: 24px;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.knowledge .knowledge-main .knowledge-heading .btn-primary:hover,
.knowledge .knowledge-main .knowledge-heading .btn-primary:focus {
    background:#6100C150;
    color: #6100C1;
}
.member {
    padding: 70px 0;
}
.member-main .member-heading .member-title span {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
}
.member-main .member-heading {
    text-align: center;
    margin-bottom: 48px;
}
.member-main .member-heading .member-filter {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    padding: 30px 30px;
    list-style: none;
    border-radius: 40px;
    width: 50%;
    margin: 0 auto;
}
.member-main .member-heading .member-filter li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.member-main .member-heading .member-filter li a:hover,
.member-main .member-heading .member-filter li a:focus {
    background: #6ED2EF;
    color: #ffffff;
    padding: 20px 20px;
}
.member-main .member-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    justify-content: space-around;
}
.member-main .member-content .card-member {
    box-shadow: 0px 4px 16px #00000010;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 16px;
}
.member-main .member-content .card-member .card-profile {
    padding: 0 16px;
}
.member-main .member-content .card-member .card-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.member-main .member-content .card-member .card-profile p {
    position: relative;
    bottom: 18px;
}
.member-main .member-content .card-member:hover,
.member-main .member-content .card-member:focus {
    box-shadow: 0px 8px 24px #00000020;
}
.testimonial {
    padding: 70px 0;
}
.testimonial .testimonial-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial .testimonial-heading .testimonial-title {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
}
.testimonial .testimonial-heading h2 {
    text-align: center;
    margin-top: 16px;
}
.testimonial .quote-testimonial {
    display: flex;  
    justify-content: space-around;
    gap: 24px;
    padding: 0 40px;
}
.testimonial .quote-testimonial .card-testimonial {
    padding: 24px;
    box-sizing: border-box;
    width: 30%;
}
.testimonial .quote-testimonial .card-testimonial p {
    padding: 24px 24px;
    box-sizing: border-box;
    height: 200px;
    border: transparent;
    border-radius: 15px;
    line-height: 1.8;       
}
.testimonial .quote-testimonial .card-testimonial .card-profile {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.testimonial .quote-testimonial .card-testimonial .quote-icon {
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
}
.testimonial .quote-testimonial .quote .triangle-icon {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 25px;
}
.testimonial .quote-testimonial .card-testimonial .card-profile .card-info span {
    position: relative;
    bottom: 18px;
}
.contact {
    padding: 70px 0;
    text-align: center;
}
.contact .contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 40%;
    margin: 0 auto;
}
.contact .contact-main h2 {
    margin-bottom: 24px;
}
.contact .contact-main button {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.contact .contact-main button:hover,
.contact .contact-main button:focus {
    background: #ffffff;
    color: #FF7D56;
}
.blog {
    padding: 70px 0;
}
.blog .blog-heading {
    text-align: center;
}
.blog .blog-heading .blog-title {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
}
.blog .blog-main .blog-content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.blog .blog-main .blog-content .blog-article {
    box-sizing: border-box;
    width: calc((100% - 72px) / 4);
    cursor: pointer;
}
.blog .blog-main .blog-content .blog-article .blog-thumbnail {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.blog .blog-main .blog-content .blog-article .blog-thumbnail span {
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    width: fit-content;
}
.blog .blog-main .blog-content .blog-article .blog-info {
    display: flex;
    flex-direction: column;
}
.blog .blog-main .blog-content .blog-article .blog-info h4 {
    margin-bottom: 12px;
}
.blog .blog-main .blog-content .blog-article .blog-info p {
    line-height: 1.8;
}
.blog .blog-main .blog-button button{
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    display: flex;
    margin: 0 auto;
}
.blog .blog-main .blog-button button:hover,
.blog .blog-main .blog-button button:focus {
    background: #6ED2EF;
    color: #ffffff;
}
footer {
    padding: 48px 0;
}
footer .container > div {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
footer .footer-heading {
    width: 30%;
}
footer .footer-content {
    display: flex;
    gap: 24px;
    flex: 1 1 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-content .footer-menu {
    box-sizing: border-box;
    padding: 0 12px;
    width: 200px;
}
footer .footer-content .footer-menu ul {
    list-style: none;
    padding: 0;
}   
footer .footer-content .footer-menu ul li {
    margin-bottom: 12px;
}
footer .footer-content .footer-menu ul li a {
    text-decoration: none;
}
footer .footer-content .footer-menu ul li a:hover,
footer .footer-content .footer-menu ul li a:focus {
    color: #6100C1;
}
footer .footer-heading p {
    margin-top: 16px;
    line-height: 1.8;
}
footer .footer-heading img {
    width: 172px;
    height: 52px;
}

@media (max-width: 767px) {
    .header .navbar {
        flex-direction: column;
        gap: 16px;
    }
    .navbar .navbar-menu .navbar-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero {
        flex-direction: column;
    }
    .hero .hero-image img {
        padding: 0;
    }
    .offer .offer-list {
        flex-wrap: wrap;
        padding: 0;
    }
    .offer .offer-main .offer-dropdown {
        margin-top: 20px;
    }
    .benefits .benefits-heading {
        margin-bottom: 24px;
        text-align: center;
    }
    .benefits .benefits-description {
        flex-direction: column;
    }
    .benefits .benefits-description h2 {
        width: 100%;
        text-align: center;
    }
    .benefits .benefits-description p {
        width: 100%;
        text-align: center;
    }
    .benefits .benefits-content .benefit-card {
        width: 100%;
    }

    .about .about-main {
        flex-direction: column;
        text-align: center;
    }
    .about .about-main .about-image {
        width: 100%;
    }
    .about .about-main .about-content {
        width: 100%;
    }
    .counter .counter-main ul {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        text-align: center;
    }
    .knowledge .knowledge-main {
        flex-direction: column;
        text-align: center;
    }
    .knowledge .knowledge-main .knowledge-heading {
        width: 100%;
    }
    .knowledge .knowledge-main .knowledge-image {
        width: 100%;
    }
    .member-main .member-heading{
        text-align: center;
    }
    .member-main .member-heading .member-filter {
        width: 70%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 16px;
    }
    .member-main .member-content .card-member {
        width: 100%;
        justify-content: center;
    }
    .member-main .member-content .card-member .card-profile {
        padding: 0;
        border-radius: 8px;
    }
    .testimonial .quote-testimonial {
        flex-direction: column;
        padding: 0;
    }
    .testimonial .quote-testimonial .card-testimonial {
        width: 100%;
    }
    .contact .contact-main {
        width: 100%;
    }
    .blog .blog-main .blog-content .blog-article {
        width: calc((100% - 48px) / 2);
        margin: 0 auto;
    }
    .footer-main {
        width: 100%;
    }
    footer .footer-heading {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }
    footer .footer-content {
        gap: 16px;
        width: 100%;
        box-sizing: border-box;
    }
    footer .footer-content .footer-menu {
        max-width: calc((100% - 16px) / 2);
        padding: 0 8px;
        margin-bottom: 16px;
    }
}
@media (max-width: 820px) {
    .header .navbar {
        flex-direction: column;
        gap: 16px;
    }
    .navbar .navbar-menu {
        margin-left: 0;
    }
    .navbar .navbar-menu .navbar-list {
        display: flex;
        gap: 16px;
        margin: 0;
        padding: 0;
    }
    .hero {
        position: relative;
        padding-right: 300px;
    }
    .hero .hero-image {
        position: absolute;
        right: 0;
        bottom:300px;
        width: 400px;
    }
    .offer .offer-list {
        flex-wrap: wrap;
        padding: 0 16px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    .offer .offer-list li {
        box-sizing: border-box;
        flex: 0 0 calc((100% - 120px) / 4);
    }
    .offer .offer-main .offer-dropdown {
        margin-top: 20px;
    }
    .benefits .benefits-heading {
        margin-bottom: 24px;
        text-align: center;
    }
    .benefits .benefits-description {
        flex-direction: column;
    }
    .benefits .benefits-description h2 {
        width: 80%;
        text-align: center;
    }
    .benefits .benefits-description p {
        width: 80%;
        text-align: center;
    }
    .benefits .benefits-content .benefit-card {
        width: 48%;
    }
    .about .about-main {
        flex-direction: column;
        text-align: center;
    }
    .about .about-main .about-image {
        width: 70%;
    }
    .about .about-main .about-content {
        width: 100%;
        margin: 0 auto;
    }
    .counter {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .counter .counter-main ul {
        gap: 48px;
        box-sizing: border-box;
    }
    .counter .counter-main ul li {
        width: auto;
        min-width: 120px;
        text-align: center;
        }
    .knowledge .knowledge-main {
        flex-direction: column;
        text-align: center;
    }  
    .knowledge .knowledge-main .knowledge-heading {
        width: 100%;
    }
    .knowledge .knowledge-main .knowledge-image {
        width: 100%;
        height: auto;
        align-items: center;
    }
    .member-main .member-heading .member-filter {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 16px;
    }
    .member-main .member-content .card-member {
        width: 48%;
    }
    .testimonial .quote-testimonial {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        padding: 0 24px;
    }
    .testimonial .quote-testimonial .card-testimonial {
        box-sizing: border-box;
        flex: 0 0 calc((100% - 24px) / 2);
        padding: 20px;
    }
    /* pastikan isi kartu rapi */
    .testimonial .quote-testimonial .card-testimonial .quote p {
        height: auto;
        padding: 12px 16px;
    }
    .contact .contact-main {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .blog .blog-main {
        padding: 0 16px;
    }
    .footer-main {
        width: 100%;
    }
    .footer-heading {
        text-align: center;
    }
    .footer-content .footer-menu {
        padding: 0 8px;
    }
}